<div class="d-flex flex-column w-100">
    {% for tree in trees %}
        <div class="d-flex flex-column w-100">
            <div class="d-flex flex-column">
                {% set depthKey = 0 %}
                {% for depth in tree %}

                    <div class="d-flex mx-5">
                        <div class="me-2 align-self-center">
                            Depth = {{ depthKey }}
                            {% set depthKey = depthKey + 1 %}
                        </div>
                    {% for parentKey in depth %}

                        {% if parentKey is iterable %}
                            <div class="d-flex ms-5">
                                <div class="mx-2">parent: {{ parentKey[0].parentCategory.name }}</div>
                                {% for categoryArr in parentKey %}
                                    <div>
                                        | {{ categoryArr.name }} |
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <h3 class="m-0">{{ parentKey.name }}</h3>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>