<div class="d-flex flex-column w-100">
    {% for tree in trees %}
        <div class="d-flex flex-column w-100">
            <div class="d-flex">
                {% set depth = 0 %}
                {% for elem in tree %}


                    {% if elem is iterable %}
                        <div class="d-flex flex-column">
                            {% if depth == elem.depth %}
                                <div class="d-flex flex-column">
                            {% else %}
                                {% set depth = depth + 1 %}
                                    <div>
                            {% endif %}
                            {% for categoryArr in elem %}
                                {% for category in categoryArr %}
                                    <div>
                                        | {{ category.name }} parent: {{ category.parentCategory.name }} |
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            {% if depth == elem.depth %}
                                </div>
                            {% endif %}
                        </div>
                    {% else %}
                        <h3>{{ elem.name }}</h3>
                    {% endif %}

                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>