controllers:
    resource: ../src/Controller/
    type: annotation

kernel:
    resource: ../src/Kernel.php
    type: annotation

login:
    path: /login
    controller: App\Controller\LoginController::indexAction

logout:
    path: /logout

_news:
    path: /
    controller: App\Controller\NewsController::indexAction
news:
    path: /news/{page}
    controller: App\Controller\NewsController::indexAction

article:
    path: /news/{title}
    controller: App\Controller\NewsController::showAction